<a href="https://colab.research.google.com/github/mademet/DAwPY/blob/main/pandas/df_set_resetindex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import seaborn as sns
import pandas as pd
import numpy as np

In [14]:
np.random.seed(42)
df3 = pd.DataFrame(np.random.randn(5,4),index="A B C D E".split(), columns="W X Y Z".split())
df3
df3.reset_index()

  index         W         X         Y         Z
0     A  0.496714 -0.138264  0.647689  1.523030
1     B -0.234153 -0.234137  1.579213  0.767435
2     C -0.469474  0.542560 -0.463418 -0.465730
3     D  0.241962 -1.913280 -1.724918 -0.562288
4     E -1.012831  0.314247 -0.908024 -1.412304

In [8]:
df3.reset_index(drop = True)
df3.reset_index(drop = True, inplace = True)
df3

          0         1         2         3
0  0.496714 -0.138264  0.647689  1.523030
1 -0.234153 -0.234137  1.579213  0.767435
2 -0.469474  0.542560 -0.463418 -0.465730
3  0.241962 -1.913280 -1.724918 -0.562288
4 -1.012831  0.314247 -0.908024 -1.412304

In [9]:
new_index = np.arange(1000, 1005)
new_index

array([1000, 1001, 1002, 1003, 1004])

In [15]:
df3[0] = new_index
df3

          W         X         Y         Z     0
A  0.496714 -0.138264  0.647689  1.523030  1000
B -0.234153 -0.234137  1.579213  0.767435  1001
C -0.469474  0.542560 -0.463418 -0.465730  1002
D  0.241962 -1.913280 -1.724918 -0.562288  1003
E -1.012831  0.314247 -0.908024 -1.412304  1004

In [17]:
df3.set_index(0)

             W         X         Y         Z
0
1000  0.496714 -0.138264  0.647689  1.523030
1001 -0.234153 -0.234137  1.579213  0.767435
1002 -0.469474  0.542560 -0.463418 -0.465730
1003  0.241962 -1.913280 -1.724918 -0.562288
1004 -1.012831  0.314247 -0.908024 -1.412304